{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>{{capitalizar nombre}}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem nihil molestiae eum quod in. Asperiores error animi aliquam aperiam ducimus quam dolores, maxime, dicta tempora beatae suscipit ullam mollitia illo.</p>
    </div>

    <div class="col-4">
        <img src="assets/img/bote.jpg" alt="" class="img-thumbnail">
    </div>
</div>

    
{{> footer }}